*{
    padding: 0;
    margin: 0;
}
/*顶部导航栏部分*/
a{
    text-decoration: none;
    color:white;
}
hr{
    margin-top: 10px;

}
.top{
    height: 60px;
    background-color: #009688;

}
.top span{
    display:inline-block;
    width: 10%;
    height: 60px;
    margin-left: 20px;
}
.top span p{
    line-height: 10px;
    letter-spacing: 3px;
    margin-left: 70px;
    width: 100px;
    color:white;
    margin-top: 25px;
    font-size: 14px;

}
.top img{
    width: 50px;
    height: 50px;
    float: left;
}
.top_nav{
    width: 50%;
    height: 60px;
    float:right;
    /*margin-left: 280px;*/
}
.top_nav a{
    text-decoration: none;
    color:white;
    font-size: 14px;

}
.top_nav img{
    width: 20px;
    height: 20px;
}
.top_nav ul{
    width: 100%;
}
.top_nav ul li{
    float:left;
    margin-right: 50px;
    margin-top: 25px;
    list-style: none;
}
.top_nav ul li a img{
    padding-right: 4px;
}
.top_nav ul li a img{
    padding-right: 4px;
}

/*视频部分*/
.video{
    width: 1000px;
    height: 320px;
    margin:10px auto;
    position: relative;
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.video .search{
    width: 600px;
    height: 30px;
    position: absolute;
    top:250px;
    left:220px;
}
.video .search .search_box{
    width: 600px;
    height: 30px;
    /*opacity: 0.2;*/
    position: relative;
    border-radius: 20px;
    border: none;
    outline: medium;
    text-indent: 30px;
}
/*.video .search .search_box:focus{*/
    /*opacity: 1;*/
/*}*/
.video .search .search_img{
    position: absolute;
    top:5px;
    left:570px;
}
.video .search .search_img img{
    width: 25px;
    height: 25px;
}
/*垃圾分类图片部分*/
.garbage{
    width: 100%;
    height: 930px;
}
.garbage_left{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #009688;
    margin-top: 40px;
    overflow: hidden;
}
.garbage_name{
    width: 1100px;
}
.garbage_name li{
    width: 80px;
    height: 50px;
    margin-bottom: 67px;
    padding-left: 50px;
    color:white;
   list-style: none;
    line-height: 50px;

}
.garbage_name li:first-child{
    margin-top: 50px;
}
#more{
    position:absolute;
    top: 450px;
    right: 50px;
}
.garbage .garbage_img{
    width: 70%;
    height: 500px;
    position: absolute;
    top: 30px;
    left: 150px;
    float: left;
    display: inline;
    overflow: hidden;
}
.garbage .garbage_img li{
    list-style: none;
    float: left;
}
.garbage .garbage_img li>ul>li {
    position: relative;
    overflow: hidden;

}
.garbage .garbage_img li img{
    width: 250px;
    height:200px;
    list-style: none;
    margin-right: 100px;
    margin-bottom: 35px;
    float: left;
}
.garbage .garbage_img li>ul>li span{
    font-size: 14px;
    position: absolute;
    top:180px;
    left: 0;
}
.garbage_img>li{
    display: none;
}
.garbage_img .show{
    width: 1050px;
    height: 500px;
    display: block;
}
.garbage_name .current{
    background-color: rgba(217,217,217,0.85);
}
.span_more{
    position: absolute;
    top:475px;
    right: 0;
    color:wheat;
    text-decoration: none;
}
.location{
    width: 100%;
    height: 500px;
    /*background-image: url(../img/lilypads.png);*/
    /*background-repeat: repeat;*/
}
.location p{
    margin-top: 10px;
    margin-left: 20px;
}
.bottom{
    width: 100%;
    /*height: 200px;*/
    background-color: #e2dfdf;
    /*position: absolute;*/

}
.bottom ul {
    float: left;
    list-style: none;
    margin: 20px 100px;
    line-height: 30px;
    text-align: center;

}
.bottom .contact img{
    width: 40px;
    height: 40px;
     z-index: 2;
}