*{
    padding: 0;
    margin: 0;
}
html ,body{
    height: 100%;
    background-image:url("../img/united-squares.png");
    background-repeat: repeat;
}
a{
   text-decoration: none;
    color: #000;
}
.top{
    height: 60px;
    background-color: #009688;

}
.top span{
    display:inline-block;
    width: 10%;
    height: 60px;
    margin-left: 20px;
}
.top span p{
    line-height: 10px;
    letter-spacing: 3px;
    margin-left: 70px;
    width: 100px;
    color:white;
    margin-top: 25px;
font-size: 14px;

}
.top img{
    width: 50px;
    height: 50px;
    float: left;
}
.top_nav{
    width: 50%;
    height: 60px;
    float:right;
    /*margin-left: 280px;*/
}
.top_nav a{
    text-decoration: none;
    color:white;
    font-size: 14px;

}
.top_nav img{
    width: 20px;
    height: 20px;
}
.top_nav ul{
    width: 100%;
}
.top_nav ul li{
    float:left;
    margin-right: 50px;
    margin-top: 25px;
    list-style: none;
}
.top_nav ul li a img{
    padding-right: 4px;
}
.top_nav ul li a img{
    padding-right: 4px;
}
.newinfo_center{
    width: 66%;
    margin: 25px auto;

}
h2{
    text-align: center;
}
.newinfo_new{
    width: 100%;
    /*height: 300px;*/
    margin-top: 20px;
   background-color: #fff;
    /*margin-left: 112px;*/
    letter-spacing: 1px;
    padding: 10px;
    opacity: 0.9;
    box-shadow: 10px 10px 5px #888888;
}
.newinfo_bottom{
    width: 200px;
    height: 20px;
    margin-top: 25px;
    color: #a8a8a8;
    font-size: 12px;
    position: relative;
}
.newinfo_bottom span{
    color: #0C0C0C;
    font-size: 12px;
    margin-left: 20px;
}
.return a{
    width: 50px;
    height: 10px;
    margin-left: 140px;
    position: absolute;
    top: 27px;
    left: -138px;
    font-size: 14px;
}
.new_center-right img {
    width: 18%;
    height: 545px;
    position: absolute;
    top: 0;
    left: 980px;
}